@{
    ViewBag.Title = "Главная страница";
}

<h1>@ViewData["Text"]<span class="badge badge-secondary">New</span></h1>
<h2>Список<span class="badge badge-secondary">New</span></h2>

<div class="position-relative">
    <!--Список-->

    <ol type="A">
        @for (int i = 1; i < 5; i++)
        {
            <li>элемент @i списка</li>
        }
    </ol>

</div>
<hr class="my-4"> <!-- Черта -->

<h2>Форма<span class="badge badge-secondary">New</span></h2>


<form>

    <select asp-items="@ViewData["Lst"] as SelectList"></select>

    <div class="form-group row">
        <!-- чек-боксы -->
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                    Чек-бокс 1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck2">
                <label class="form-check-label" for="gridCheck2">
                    Чек-бокс 2
                </label>
            </div>
        </div>
    </div>
    <br>

    <fieldset class="form-group">
        <!-- радиобаттоны -->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Radios" id="Radio1" value="option1" checked>
                    <label class="form-check-label" for="inlineRadio1">Радио-1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Radios" id="Radio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Радио-2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Radios" id="Radio3" value="option2">
                    <label class="form-check-label" for="inlineRadio3">Радио-3</label>
                </div>
            </div>
        </div>
    </fieldset>

</form>

<br>

<!-- Формы -->
<form>
    <div class="form-group row">
        <label for="inputLogin" class="col-sm-2 col-form-label">Логин:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputLogin" placeholder="Введите имя">
        </div>
        <br>
        <br>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Пароль:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Введите пароль">
        </div>
    </div>
    <br>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </div>
</form>
